* {
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    background: #2a849b;
    background: linear-gradient(90deg, rgba(42, 132, 155, 1) 10%, rgba(87, 195, 199, 1) 50%);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: #2a849b;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 2px solid grey;
    border-radius: 50%;
}

.choices {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}


#User-score,
#Comp-score {
    font-size: 4rem;
}

.msg-container {
    margin: 5rem;
}


#msg {
    display: inline-block;
    color: #fff;
    background: #2a849b;
    border-radius: 8px;
    padding: 15px;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#msg::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 5px;
    border-radius: 8px;
    background: linear-gradient(270deg, #00f, #0ff, #00f);
    background-size: 200% 200%;
    animation: glow 3s linear infinite;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

@keyframes glow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}


#msg:hover{
    box-shadow: 5px 5px 20px 2px rgb(68, 211, 255);
}
